:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.root-loader {
  width: 90px;
  height: 14px;
  --c: #fff 92%, #0000;
  background: radial-gradient(circle closest-side, var(--c)) calc(100% / -4) 0,
    radial-gradient(circle closest-side, var(--c)) calc(100% / 4) 0;
  background-size: calc(100% / 2) 100%;
  animation: l14 1.5s infinite;
}
@keyframes l14 {
  0% {
    background-position: calc(100% / -4) 0, calc(100% / 4) 0;
  }
  50% {
    background-position: calc(100% / -4) -14px, calc(100% / 4) 14px;
  }
  100% {
    background-position: calc(100% / 4) -14px, calc(3 * 100% / 4) 14px;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid lightblue;
  border-right-color: #1da1f2;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px; /* Width of the vertical scrollbar */
  height: 2px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #808c94; /* Color of the scrollbar thumb */
  border-radius: px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.hidden-scroll {
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* HTML: <div class="loader"></div> */
.loader-infinity {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader-infinity::before,
.loader-infinity::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #08e5b800,
    #000 1deg 18deg,
    #0000 20deg 36deg
  );
  -webkit-mask: repeating-radial-gradient(
    farthest-side,
    #000 0 10%,
    #0000 0 20%
  );
  animation: l10 4s infinite linear;
}
.loader::after {
  -webkit-mask: repeating-radial-gradient(
    farthest-side,
    #0000 0 10%,
    #000 0 20%
  );
  animation-direction: reverse;
}
@keyframes l10 {
  100% {
    transform: rotate(0.5turn);
  }
}
